Django>=1.4.2
South>=0.7.6
django-crispy-forms>=1.2.0
django-debug-toolbar>=0.9.4
-e git://github.com/edoburu/django-fluent-comments.git@45354652fcc7f4ec91c409b1b0229839c57116db#egg=django_fluent_comments-dev
django-forms-bootstrap>=2.0.3.post1
django-social-auth>=0.7.10
django-tastypie>=0.9.11
gondor>=1.1.5
psycopg2>=2.4.5
gunicorn>=0.14.3
