{% extends "base.html" %}
{% block nav_home %}class="active"{% endblock %}
{% block content %}
  <div class="hero-unit">
    <h1>Bienvenue sur l'Agora</h1>
    <p>Cette plateforme vous permet d'avoir accès aux décisions collégialement prises au sein de {{ organization_name }}.
      <ul>
        <li>Voir les décisions prises et archivées;</li>
        <li>Voter pour les décisions en cours d'arbitrage;</li>
        <li>Faire de nouvelles propositions à la communauté;</li>
      </ul></p>
    <p><a href="{% url 'decision_list' %}"class="btn btn-primary btn-large">Voir les décisions à trancher</a></p>
  </div>

    <div class="row">
      <div class="span6">
        <h2>À voter</h2>
        <p>{% for decision in in_progress %}
          {% include 'agora/inc_decision_detail.html' with obj=decision only %}
          {% endfor %}</p>
        <p><a class="btn" href="{% url 'decision_list' %}">Voir plus &raquo;</a></p>
      </div>
      <div class="span6">
        <h2>Archivées</h2>
        <p>{% for decision in closed %}
          {% include 'agora/inc_decision_detail.html' with obj=decision only %}
          {% endfor %}</p>
        <p><a class="btn" href="{% url 'decision_list' %}">Voir plus &raquo;</a></p>
     </div>
    </div>

{% endblock %}