{% extends "base.html" %}
{% block content %}
<h1>Décisions en cours ou archivées</h1>
{% for decision in object_list %}
{% include "agora/inc_decision_detail.html" with obj=decision only %}
{% include "agora/inc_decision_action_bar.html" with obj=decision user=user only %}
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}